@page
@model PMS.Pages.Projects.ProjectUploadedFiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectUploadedFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUploadedFile.File)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUploadedFile.File)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUploadedFile.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUploadedFile.Project.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUploadedFile.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUploadedFile.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUploadedFile.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUploadedFile.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectUploadedFile.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
