@page
@model PMS.Pages.ProjectTasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTask.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectTask.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTask.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectTask.Project.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectTask.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
