@page
@model PMS.Pages.ProjectTasks.IndexModel

@{
    ViewData["Title"] = "Tasks";
}
<div class="main-content">
    <div class="box">
        <div class="box-body d-flex justify-content-between pt-0 pb-0">
            <div class="search-form d-flex">
                <input type="text" placeholder="Client Name" class="form-control">
                <select class="form-control" id="inputState">
                    <option selected="">Select Company Name</option>
                    <option>Company 1 </option>
                    <option>Company 2</option>
                </select>
                <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                <a href="#" class="add search d-flex me-2" data-toggle="modal" data-target="#add_task"><i class="fas fa-plus-circle mr-2"></i> New Task</a>

            </div>
            @*   <div class="list-action">
            <a class="list active" href="#" onclick="liststyle()"><i class="bx bx-menu"></i></a>
            <a href="#" class="list-board" onclick="listboard()"><i class="bx bxs-dashboard"></i></a>
            <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
            </div>*@
        </div>

    </div>
    <div class="box ">
        <div class="box-header  pt-0">
            <div class="me-auto">
                <h4 class="card-title mb-0 fs-22">Recent Activity</h4>

            </div>
            <div class="card-options pr-3">
                <div class="dropdown">
                    <a href="#" class="btn ripple btn-outline-light dropdown-toggle fs-14" data-bs-toggle="dropdown" aria-expanded="false"> See All <i class="feather feather-chevron-down"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-end" role="menu" style="">
                        <li><a href="#">Monthly</a></li>
                        <li><a href="#">Yearly</a></li>
                        <li><a href="#">Weekly</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-body pb-0 table-responsive activity mt-18">
            <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer mw-100" id="task-profile" role="grid">
                <thead>
                    <tr class="top">
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 222.312px;">Name</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 84.8281px;">Member</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">Start</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">End</th>
                        @*<th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Progress</th>*@
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Priority</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 110.719px;">Work Status</th>
                        <th class="border-bottom-0 sorting_disabled fs-14 font-w500" rowspan="1" colspan="1" style="width: 145.391px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectTask)
                    {
                        <tr class="odd">
                            <td>
                                <a href="#" class="d-flex "> <span>@item.Name</span> </a>
                            </td>
                            <td>
                                <ul class="user-list mb-0">
                                    <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                    <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                    <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                </ul>
                            </td>
                            <td>@item.StartDate.ToString("d-M-yyyy")</td>
                            <td>@item.EndDate.ToString("d-M-yyyy")</td>
                            <td>
                                <div class="dropdown">
                                    
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item badge-danger" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=1&pid=@item.ProjectId">Low</a>
                                        <a class="dropdown-item badge-warning" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=2&pid=@item.ProjectId">Medium</a>
                                        <a class="dropdown-item badge-success" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=3&pid=@item.ProjectId">High</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <span data-bs-toggle="dropdown" aria-expanded="false" class="@(item.KanbanColume.NameColume == "Done" ? "work-status badge badge-success" : "work-status badge badge-warning")">@item.KanbanColume.NameColume </span>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item badge-success" href="/ProjectTasks/Edit?handler=UpdateStatus&id=@item.Id&workStatus=1&pid=@item.ProjectId">Done</a>
                                        <a class="dropdown-item badge-warning" href="/ProjectTasks/Edit?handler=UpdateStatus&id=@item.Id&workStatus=2&pid=@item.ProjectId">In progress</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client" onclick="myFunction(@item.Id)"><i class="bx bx-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="d">
                                            <form id='myFormDelete+@item.Id' asp-page-handler="Delete">
                                                <input type="hidden" name="projectTaskId" value="@item.Id">
                                                <input type="hidden" name="id" value="@Model.Id"/>
                                           
                                            </form>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                  

                </tbody>
            </table>
        </div>
        <paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>

    </div>

    <div id="add_task" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="Create">
                        <input type="hidden" name="projectId" value="@Model.Id"/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Task Name</label>
                                    <input class="form-control" name="Name" type="text" >
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input name="StartDate" type="date" required>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input name="EndDate" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select" name="PriorityValue">
                                        <option value="1">Low</option>
                                        <option value="2">Medium</option>
                                        <option value="3">High</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>WorkingStatus</label>
                                    <select class="select" name="KanbanId">
                                    @if(Model.Kanbans != null)
                                    {
                                        foreach(var item in Model.Kanbans)
                                        {
                                                <option value="@item.Id">@item.NameColume</option>
                                                
                                        }
                                    }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" name="Description" class="form-control" placeholder="Enter your message here"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <input type="submit" value="create" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <script>
        function myFunction(id) {
            console.log('myFormDelete+'+id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log("b");
                if (result.isConfirmed) {
                    console.log("b");
                    fetch('/ProjectTasks?handler=Delete', {
                        method: 'POST',
                        body: new FormData(document.getElementById('myFormDelete+'+id))
                    }).then(function (response) {
                        if (response.ok) {
                            // redirect to a different page if the form submission was successful
                            window.location.href = "ProjectTasks?id="+@Model.Id
                        } else {
                            // handle any errors that occurred during the form submission
                            console.error('Form submission failed:', response);
                        }
                    }).catch(function (error) {
                        // handle any network or server errors that occurred during the form submission
                        console.error('Form submission failed:', error);
                    });
                }
            })
        }
    </script>


    }