@page
@using Microsoft.AspNetCore.Authorization;
@using PMS.Authorization;
@using RBAC.Application.Authorization;
@using TeduCoreApp.Authorization;
@model PMS.Pages.ProjectTasks.IndexModel
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Tasks";

}
@{
    var resultEdit = await AuthorizationService.AuthorizeAsync(
           User,
           new Payload
                   {
                       Resource = "project",
                       ProjectRequirement = new ProjectRequirement { ProjectId = Model.Id, Action = "Read", Resource = "task" }
                   }, Operations.Read);
    var resultDelete = await AuthorizationService.AuthorizeAsync(
        User,
   new Payload
   {
       Resource = "project",
       ProjectRequirement = new ProjectRequirement { ProjectId = Model.Id, Action = "Delete", Resource = "task" }
   }, Operations.Read);
}

@section Styles{
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/icons.min.css">
    <!-- Plugin -->
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/lib/date-picker/datepicker.css">
    <link rel="stylesheet" href="~/lib/datatable/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/lib/rating/css/rating-themes.css">
    <!-- APP CSS -->             
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
	<link href="~/lib/date-picker/datepicker.css" rel="stylesheet" />
	<link href="~/lib/jquery/jquery.dropdown.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="box">
        <div class="row">
            <div class="col-md-12 col-xl-10 mb-0">
                <div class="row">
                    <div class="col-md-12 col-xl-4 mb-0">
                        <div class="form-group">
                            <label class="form-label">From:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="bx bx-calendar"></i> </div>
                                </div><input class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 mb-0">
                        <div class="form-group">
                            <label class="form-label">To:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="bx bx-calendar"></i> </div>
                                </div><input class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 mb-0">
                        <div class="form-group">
                            <label class="form-label">Select Priority:</label>
                            <select name="priority" class="form-control">
                                <option value="">Select Priority</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 mb-0">
                        <div class="form-group">
                            <label class="form-label">Select Status:</label>
                            <select name="status" class="form-control">
                                <option value="">Select Status</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">Pending</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 col-xl-4 mb-0">
                        <div class="form-group">
                            <label class="form-label">Task Name</label>
                            <input type="text" class="form-control" placeholder="Enter task name" />
                            
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 mb-0">
                        <label class="form-label">Assignee</label>

                        <div class="dropdown-mul-1">
                            <select style="display:none" name="" id="" multiple placeholder="Select">
                            </select>
                        </div>
                    </div>

                   

                </div>
            </div>
            <div class="col-md-12 col-xl-2 mb-0">
                <div class="form-group mt-32"> <a href="#" class="btn bg-primary btn-block color-white">Search</a> </div>
            </div>
        </div>
        <div class="box-body d-flex justify-content-between pt-0 pb-0">
            @*<div class="search-form d-flex">
                <input type="text" placeholder="Task Name" class="form-control">
                <select class="form-control" id="inputState">
                    <option selected="">Select Status</option>
                    <option>Company 1 </option>
                    <option>Company 2</option>
                </select>
               
                <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                <a href="#" class="add search d-flex me-2" data-toggle="modal" data-target="#add_task"><i class="fas fa-plus-circle mr-2"></i> New Task</a>

            </div>*@
            @*   <div class="list-action">
            <a class="list active" href="#" onclick="liststyle()"><i class="bx bx-menu"></i></a>
            <a href="#" class="list-board" onclick="listboard()"><i class="bx bxs-dashboard"></i></a>
            <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
            </div>*@
        </div>
    </div>
    <div class="box ">
        <div class="box-header  pt-0">
            <div class="me-auto">
                <h4 class="card-title mb-0 fs-22">Recent Activity</h4>
            </div>
            <div class="card-options pr-3">
               <div class="row">
                   <div class="col-2 d-flex">    
                       
                        <a class="add search d-flex me-2" href="/kanban?projectId=@Model.Id"> See Board </a>
                        <a href="#" class="add search d-flex me-2" data-toggle="modal" data-target="#add_task"><i class="fas fa-plus-circle mr-2"></i> New Task</a>

                   </div>
                   @*<div class="col-2">
                        <a class="add search d-flex me-2" href="/ProjectTaskUser?projectTaskId=@Model.Id"> User </a> 
                   </div>*@
               </div>
            </div>
        </div>
        <div class="box-body pb-0 table-responsive activity mt-18">
            <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer mw-100" id="task-profile" role="grid">
                <thead>
                    <tr class="top">
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 222.312px;">Name</th>
@*                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 84.8281px;">Member</th>
*@                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">Start Date</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">End Date</th>
                        @*<th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Progress</th>*@
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Priority</th>
                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 110.719px;">Work Status</th>
                        <th class="border-bottom-0 sorting_disabled fs-14 font-w500" rowspan="1" colspan="1" style="width: 145.391px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectTask)
                    {
                        <tr class="odd">
                            <td>
                                <a href="#" class="d-flex "> <span>@item.Name</span> </a>
                            </td>
                           @* <td>
                                <ul class="user-list mb-0">
                                    <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                    <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                    <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                </ul>
                            </td>*@
                            <td>@item.StartDate.ToString("d-M-yyyy")</td>
                            <td>@item.EndDate.ToString("d-M-yyyy")</td>
                            <td>
                               @* <div class="dropdown">
                                    
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item badge-danger" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=1&pid=@item.ProjectId">Low</a>
                                        <a class="dropdown-item badge-warning" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=2&pid=@item.ProjectId">Medium</a>
                                        <a class="dropdown-item badge-success" href="/ProjectTasks/Edit?handler=UpdatePriority&id=@item.Id&priority=3&pid=@item.ProjectId">High</a>
                                    </div>
                                </div>*@
                                <select class="select form-control">
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                </select>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <form id="update_@item.Id" method="post" asp-page-handler="Update2">
                                    
                                     <input  type="hidden" value="@item.Id" name="projectTaskId" />
                                     <input  type="hidden" value="@Model.Id" name="projectId" />
                                        <input type="hidden" value="@Model.paginationParams.PageNumber" name="page" />


                                        <select class="select form-control" onchange="tosubmit(@item.Id)" name="columnId">
                                        @if (Model.Kanbans != null)
                                        {
                                            foreach (var i in Model.Kanbans)
                                            {
                                                    if(item.KanbanColumeID == i.Id)
                                                    {
                                                        <option selected value="@i.Id">@i.NameColume</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i.Id">@i.NameColume</option>
                                                    }
                                            }
                                        }
                                     </select>
                                    </form>
                                    
                                </div>
                            </td>
                            <td>
                                <a href="/ProjectTasks/details?id=@item.Id" class="btn btn-primary">View</a>
                                @if (resultEdit.Succeeded)
                                {
                                    <a href="/ProjectTasks/edit?id=@item.Id" class="btn btn-success">Edit</a>
                                }
                                @if (resultDelete.Succeeded)
                                {
                                    <a href="/ProjectTasks/details?id=@item.Id" class="btn btn-danger">Delete</a>
                                }
                                @* <div class="dropdown">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client" onclick="myFunction(@item.Id)"><i class="bx bx-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="d">
                                            <form id='myFormDelete+@item.Id' asp-page-handler="Delete">
                                                <input type="hidden" name="projectTaskId" value="@item.Id">
                                                <input type="hidden" name="id" value="@Model.Id"/>
                                           
                                            </form>
                                        </a>
                                    </div>
                                </div>*@
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
  <paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>
    </div>
    <div id="add_task" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="Create">
                        <input type="hidden" name="projectId" value="@Model.Id"/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Task Name</label>
                                    <input class="form-control" name="Name" type="text" >
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @*<div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input name="StartDate" type="date" required>

                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="bx bx-calendar"></i> </div>
                                        </div><input name="StartDate" class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="date">
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-sm-6">
                                @*<div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input name="EndDate" type="date">
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="bx bx-calendar"></i> </div>
                                        </div><input name="EndDate" class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="date">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select form-control" name="PriorityValue">
                                        <option value="1">Low</option>
                                        <option value="2">Medium</option>
                                        <option value="3">High</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>WorkingStatus</label>
                                    <select class="select form-control" name="KanbanId">
                                    @if(Model.Kanbans != null)
                                    {
                                        foreach(var item in Model.Kanbans)
                                        {
                                                <option value="@item.Id">@item.NameColume</option>
                                                
                                        }
                                    }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row"> 
                            <div class="col-sm-12">
                                <label>Assgin</label>

                                <div class="dropdown-mul-1">
                                    <select style="display:none" name="" id="" multiple placeholder="Select">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" name="Description" class="form-control" placeholder="Enter your message here"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <input type="submit" value="create" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/apexcharts/apexcharts.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/peity/jquery.peity.min.js"></script>
    <script src="~/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/countto.js"></script>
    <script src="~/lib/date-picker/datepicker.js"></script>
    <script src="~/lib/rating/js/custom-ratings.js"></script>
    <script src="~/lib/rating/js/jquery.barrating.js"></script>
    <script src="~/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/lib/simplebar/simplebar.min.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/shortcode.js"></script>
    <script src="~/js/pages/datepicker.js"></script>
    <script src="~/js/pages/chart-circle.js"></script>
	<script src="~/lib/jquery/jquery.dropdown.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <script>


        $('.dropdown-mul-1').dropdown({
            data: [
                { id: 1, name: "Option1" }, 
                { id: 2, name: "Option2" }
            ],
            limitCount: 40,
            multipleMode: 'label',
            choice: function () {
                // console.log(arguments,this);
            }
        });




        function myFunction(id) {
            console.log('myFormDelete+'+id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log("b");
                if (result.isConfirmed) {
                    console.log("b");
                    fetch('/ProjectTasks?handler=Delete', {
                        method: 'POST',
                        body: new FormData(document.getElementById('myFormDelete+'+id))
                    }).then(function (response) {
                        if (response.ok) {
                            // redirect to a different page if the form submission was successful
                            window.location.href = "ProjectTasks?id="+@Model.Id
                        } else {
                            // handle any errors that occurred during the form submission
                            console.error('Form submission failed:', response);
                        }
                    }).catch(function (error) {
                        // handle any network or server errors that occurred during the form submission
                        console.error('Form submission failed:', error);
                    });
                }
            })
        }


       
    </script>

    <script>
        function tosubmit(id) {
            const myForm = document.getElementById("update_" + id);
            //const selectId = document.getElementById
            myForm.submit();
            // Lấy ra giá trị của select element

            
        }
    </script>
    }