@page
@model PMS.Pages.ProjectUser.IndexModel

@{
    ViewData["Title"] = "Project";
}

<!-- MAIN CONTENT -->

<div class="main-content client">
    <div class="row">
        <div class="col-12">
            <div class="box card-box">
                <div class="icon-box bg-color-1">
                    <div class="icon bg-icon-1">
                        <i class="bx bxs-bell bx-tada"></i>
                    </div>
                    <div class="content">
                        <h5 class="title-box">Notification</h5>
                        <p class="color-1 mb-0 pt-4">5 Unread notification</p>
                    </div>
                </div>
                <div class="icon-box bg-color-2">
                    <div class="icon bg-icon-2">
                        <i class='bx bxs-message-rounded'></i>
                    </div>
                    <div class="content click-c">
                        <h5 class="title-box">Message</h5>
                        <p class="color-2 mb-0 pt-4">5 Unread notification</p>
                    </div>
                    <div class="notification-list card">
                        <div class="top box-header">
                            <h5>Notification</h5>

                        </div>
                        <div class="pd-1r">
                            <div class="divider"></div>
                        </div>

                        <div class="box-body">
                            <ul class="list">
                                <li class="d-flex no-seen">
                                    <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div>
                                    <div class="info">
                                        <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                                        <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                                    </div>
                                </li>

                                <li class="d-flex">
                                    <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div>
                                    <div class="info">
                                        <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                                        <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                                    </div>
                                </li>

                            </ul>
                            <div class="btn-view">
                                <a class="font-w600 h5" href="message.html">View All</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="icon-box bg-color-3">
                    <a class="create d-flex" href="calendar.html">
                        <div class="icon bg-icon-3">
                            <i class="bx bx-calendar"></i>
                        </div>
                        <div class="content">
                            <h5 class="title-box">Calendar</h5>
                            <p class="color-3 mb-0 pt-4">5 Unread notification</p>
                        </div>
                    </a>
                </div>
                <div class="icon-box bg-color-4">
                    <a class="create d-flex" href="#" data-toggle="modal" data-target="#add_project">
                        <div class="icon bg-white">
                            <i class="bx bx-plus"></i>
                        </div>
                        <div class="content d-flex align-items-center">
                            <h5 class="color-white">Create New Project</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body d-flex justify-content-between align-items-center pt-0 pb-0">
                    <div class="search-form d-flex">
                        <input type="text" placeholder="Client Name" class="form-control">

                        <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                    </div>
                    <div class=" d-flex justify-content-between align-items-center">
        
                        <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
                        
                    </div>
                </div>

            </div>
        </div>
        @if (Model.ListProjectUser != null)
        {
            @foreach (var item in Model.ListProjectUser)
            {
                <div class="col-3 col-md-6 col-sm-12 mb-25">
                    <div class="box client" data-user-id="@item.User.Id">


                            <div class="dropdown">
                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                </div>
                            </div>
                            <div class="box-body pt-5 pb-0">
                                <div class="img-box">
                                    <img style="width: 100px; height: 100px;object-fit: cover" src="~/uploads/@item.User.ImageProfile" alt="">
                                    <div class="pulse-css"></div>
                                </div>
                                <a href="client-details.html"><h5 class="mt-17">@item.User.UserName</h5></a>

@*                                <p class="fs-14 font-w400 font-main">Founder at <span class="text-clo-primary font-w500 pl-4">Company Name</span></p>
*@                                <ul class="info">
                                    <li class="fs-14"><i class="bx bxs-phone"></i>(589)505-4521</li>
                                    <li class="fs-14"><i class="bx bxs-envelope"></i>@item.User.Email</li>
                                </ul>
                                <div class="group-btn d-flex justify-content-between">
                                    <a class="bg-btn-pri color-white" href="message.html">Message</a>
                                    <a class="bg-btn-sec color-main" href="user-profile.html">View Profile</a>
                                </div>
                            </div>


                    </div>
                </div>
            }
        }

    </div>

    <div id="add_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select">
                                        <option>Client 1</option>
                                        <option>Client 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="$50" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select">
                                        <option>Hourly</option>
                                        <option selected>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select">
                                        <option selected>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="add_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Client</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post">

                        <div class="form-group">
                            <label>Client Name</label>
                            <input type="text" name="UserName" class="form-control" value="">
                        </div>

                        <div class="form-group">

                            <input type="hidden" name="projectId" class="form-control" value="@Model.ProjectId">
                        </div>
                        <div class="submit-section text-center">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal custom-modal fade" id="delete_client" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Client</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6 mb-0">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6 mb-0">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Role</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="project_roles">Project Roles</label>

                    <ul id="item-list"></ul>

                    <input type="hidden" />
                    <form>
                        <div class="form-group">
                            <input hidden id="edit_userId" name="userId" value="" />
                            <input hidden name="projectId" value="@Model.ProjectId" />
                            <label for="project_roles">Add new Role</label>
                            <select id="project_roles" name="project_role_id" class="form-control">
                                @if (Model.ProjectRoles != null)
                                {
                                    @foreach (var role in Model.ProjectRoles)
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <button id="addBtn" type="submit" class="btn btn-primary">Add</button>
                        <button id="saveBtn" type="submit" class="btn btn-danger">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>

	<script>
          $(document).ready(function () {
            $("#addBtn").click(function (e) {
            e.preventDefault();

                var selectedOption = $("#project_roles option:selected");
                var selectedValue = selectedOption.val();
                var selectedText = selectedOption.text();

                // Check if the selected option's value is already in the list
                if ($("#item-list li[data-value='" + selectedValue + "']").length > 0) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: `Can't add duplicated role`,
                        showConfirmButton: false,
                        timer: 2000
                    })
                    return;
                }



        var selectedOption = $("#project_roles option:selected");
                //var listItem = $("<li>").addClass("list-group-item d-flex justify-content-between align-items-center").text(selectedOption.text());
                var listItem = $("<li>").addClass("list-group-item d-flex justify-content-between align-items-center").text(selectedText).attr("data-value", selectedValue);

                var removeBtn = $("<span>").addClass("badge badge-danger badge-pill remove-item").html("&times;");
                listItem.append(removeBtn);
                    $("#item-list").append(listItem);
                });

                $(document).on("click", ".remove-item", function () {
                    $(this).parent().remove();
                });
          });

        $('.dropdown-item[data-target="#delete_client"]').click(function () {
            var userId = $(this).closest('.box.client').data('user-id');
            $('.continue-btn').data('user-id', userId);
        });
        $('.dropdown-item[data-target="#edit_client"]').click(function () {
            var userId = $(this).closest('.box.client').data('user-id');
            $('#edit_userId').val(userId);
            RetriveUserRoles(userId);
            console.log($('#edit_userId').val());
        });
        $('.continue-btn').click(function () {
            var userId = $(this).data('user-id');
            var projectId = '@Model.ProjectId';
            window.location.href = `/ProjectUser/Index?handler=DeleteUser&userId=${userId}&projectId=${projectId}`
            // perform delete action using the userId
        });

        $(document).on("click", "#saveBtn", function (e) {
            e.preventDefault();

            var projectRoles = [];

            // Iterate through each item in the ul list and add to projectRoles array
            $("#item-list li").each(function () {
                var roleId = $(this).attr("data-value");
                var roleName = $(this).text().trim();
                var projectRole = {
                    UserId: $("#edit_userId").val(),
                    RoleId: roleId
                };
                projectRoles.push(projectRole);
            });

            var userId = $("#edit_userId").val();
            var projectId = '@Model.ProjectId';

            $.ajax({
                type: "POST",
                url: "/Projects/UpdateProjectRoles",
                data: {
                    projectRoles: projectRoles,
                    userId: userId,
                    projectId: projectId
                },
                success: function (result) {
                    // Handle success
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your work has been saved',
                        showConfirmButton: false,
                        timer: 2000
                    })
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.log(xhr.responseText);
                }
            });
        });


        function RetriveUserRoles(userId) {
            $("#item-list").empty();
            var projectId = "@Model.ProjectId"; // Replace with actual project ID

            // Make AJAX request to ProjectsController's GetProjectRoles method
            $.ajax({
                type: "GET",
                url: "/Projects/GetProjectRoles",
                data: { projectId: projectId, userId: userId },
                dataType: "json",
                success: function (data) {
                    // Loop through returned project roles and add them to the list
                    $.each(data, function (i, role) {
                        var listItem = $("<li>").addClass("list-group-item d-flex justify-content-between align-items-center")
                            .text(role.Name)
                            .attr("data-value", role.Id);
                        var removeBtn = $("<span>").addClass("badge badge-danger badge-pill remove-item").html("&times;");
                        listItem.append(removeBtn);
                        $("#item-list").append(listItem);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: " + textStatus + " - " + errorThrown);
                }
            });
        }

	</script>
}


@{
    var error = TempData["Error"] as string;
}
@if (error != null)
{
    if (error.Equals("ok"))
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
    }
    else
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: '@error',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
    }
}
