@page
@model PMS.Pages.Admin.Roles.EditModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<main>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Edit role</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Edit Role</li>
        </ol>
      
        <div class="row col-md-4">
            <form id="myForm" method="post">
                <input type="hidden" asp-for="AppRole.Id" />
                <div class="form-group">
                    <label asp-for="AppRole.Name" class="control-label"></label>
                    <input asp-for="AppRole.Name" class="form-control" />
                    <span asp-validation-for="AppRole.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppRole.Description" class="control-label"></label>
                    <input asp-for="AppRole.Description" class="form-control" />
                    <span asp-validation-for="AppRole.Description" class="text-danger"></span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Function</th>
                            <th scope="col">Create</th>
                            <th scope="col">Read</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Functions.Count; i++)
                        {
                            var permission = Model.Permissions.FirstOrDefault(p => p.Function.Id == Model.Functions[i].Id);

                            <input type="text" hidden name="Permissions[@i].FunctionId" value="@Model.Functions[i].Id">
                            <input type="text" hidden name="Permissions[@i].RoleId" value="@Model.AppRole.Id">
                            <input type="text" hidden name="Permissions[@i].Id" value="@(permission != null ? permission.Id : 0)">
                            <tr>
                                <td>
                                    @Model.Functions[i].Name
                                </td>
                                <td>
                                    <input type="checkbox" name="Permissions[@i].CanCreate" value="true" checked="@(permission != null ? permission.CanCreate : false)">
                                </td>
                                <td>
                                    <input type="checkbox" name="Permissions[@i].CanRead" value="true" checked="@(permission != null ? permission.CanRead : false)">
                                </td>
                                <td>
                                    <input type="checkbox" name="Permissions[@i].CanUpdate" value="true" checked="@(permission != null ? permission.CanUpdate : false)">
                                </td>
                                <td>
                                    <input type="checkbox" name="Permissions[@i].CanDelete" value="true" checked="@(permission != null ? permission.CanDelete : false)">
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>

        <div>
            <a asp-page="./Index">Back to List</a>
        </div>

    </div>
</main>




