@page
@model PMS.Pages.IndexModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ListProduct";
}

<div class="main-content">
    <h1>@Localizer["Products"]</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table id="product-table" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Description)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>


                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/DownloadFile/DownloadFile?fileName=20230207135547660godocker.jpg">Download file docker</a>

   @* <paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>*@


    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
            <ul id="paginationUL"></ul>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/product/site.js"></script>

}






