@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@*<form id="selectLanguage" asp-controller="Home"
      asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
      method="post" class="form-horizontal" role="form">
    <select name="culture" onchange="this.form.submit()"
            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
</form> *@

<div class="dropdown">
    <button type="button" class="btn header-item" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="btn dropdown-toggle" id="header-lang-img">
            @requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName
            <i class='bx bx-caret-down'></i>
        </span>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <input type="hidden" name="culture" value="" />

            <form id="selectLanguage" asp-controller="Home"
              asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
              method="post" class="form-horizontal" role="form">

                <input type="hidden" name="culture" value="@cultureItems[0].Value" />
            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="@cultureItems[0].Value" onclick="document.getElementById('selectLanguage').elements['culture'].value=this.getAttribute('data-lang'); selectLanguage.submit()">
                    <img src="./images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">@cultureItems[0].Text</span>
                </a>

            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="@cultureItems[1].Value" onclick="document.getElementById('selectLanguage').elements['culture'].value=this.getAttribute('data-lang'); selectLanguage.submit()">
                <img src="./images/flags/vietname.png" alt="user-image" class="me-1" height="12"> <span class="align-middle">@cultureItems[1].Text</span>
            </a>
            </form>
        
    </div>
</div>
