@page
@model PMS.Pages.ProjectTaskUser.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="main-content client">
    <div class="row">
        <div class="col-12">
            <div class="box card-box">
                <div class="icon-box bg-color-1">
                    <div class="icon bg-icon-1">
                        <i class="bx bxs-bell bx-tada"></i>
                    </div>
                    <div class="content">
                        <h5 class="title-box">Notification</h5>
                        <p class="color-1 mb-0 pt-4">5 Unread notification</p>
                    </div>
                </div>
                <div class="icon-box bg-color-2">
                    <div class="icon bg-icon-2">
                        <i class='bx bxs-message-rounded'></i>
                    </div>
                    <div class="content click-c">
                        <h5 class="title-box">Message</h5>
                        <p class="color-2 mb-0 pt-4">5 Unread notification</p>
                    </div>
                    <div class="notification-list card">
                        <div class="top box-header">
                            <h5>Notification</h5>

                        </div>
                        <div class="pd-1r">
                            <div class="divider"></div>
                        </div>

                        <div class="box-body">
                            <ul class="list">
                                <li class="d-flex no-seen">
                                    <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div>
                                    <div class="info">
                                        <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                                        <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                                    </div>
                                </li>

                                <li class="d-flex">
                                    <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div>
                                    <div class="info">
                                        <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                                        <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                                    </div>
                                </li>

                            </ul>
                            <div class="btn-view">
                                <a class="font-w600 h5" href="message.html">View All</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="icon-box bg-color-3">
                    <a class="create d-flex" href="calendar.html">
                        <div class="icon bg-icon-3">
                            <i class="bx bx-calendar"></i>
                        </div>
                        <div class="content">
                            <h5 class="title-box">Calendar</h5>
                            <p class="color-3 mb-0 pt-4">5 Unread notification</p>
                        </div>
                    </a>
                </div>
                <div class="icon-box bg-color-4">
                    <a class="create d-flex" href="#" data-toggle="modal" data-target="#add_project">
                        <div class="icon bg-white">
                            <i class="bx bx-plus"></i>
                        </div>
                        <div class="content d-flex align-items-center">
                            <h5 class="color-white">Create New Project</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body d-flex justify-content-between pt-0 pb-0">
                    <div class="search-form d-flex">
                        <input type="text" placeholder="Client Name" class="form-control">

                        <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                    </div>
                    <div class="list-action">
                        <a class="list" href="#" onclick="liststyle()"><i class='bx bx-menu'></i></a>
                        <a href="#" class="list-board active" onclick="listboard()"><i class='bx bxs-dashboard'></i></a>
                        <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>

            </div>
        </div>
        @if (Model.ProjectTaskUser != null)
        {
            @foreach (var item in Model.ProjectTaskUser)
            {
                <div class="col-4 col-md-6 col-sm-12 mb-25">
                    <div class="box client">

                        <div class="dropdown">
                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                            </div>
                        </div>
                        <div class="box-body pt-5 pb-0" style="overflow:hidden">

                            <a href="client-details.html"><h5 class="mt-17">@item.User.UserName</h5></a>

                         
                            <ul class="info">
                                <li class="fs-14">
                                    @if (item.User.PhoneNumber != null)
                                    {
                                        <i class='bx bxs-phone'></i>

                                        @item.User.PhoneNumber
                                    }</li>
                                <li class="fs-14"><i class='bx bxs-envelope'></i>@item.User.Email </li>
                            </ul>
                            <div class="group-btn d-flex justify-content-between">
                                <a class="bg-btn-pri color-white" href="message.html">Message</a>
                                <a class="bg-btn-sec color-main" href="user-profile.html">View Profile</a>
                            </div>
                        </div>

                    </div>
                </div>
            }
        }
        <paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>

    </div>

    <div id="add_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select">
                                        <option>Client 1</option>
                                        <option>Client 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="$50" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select">
                                        <option>Hourly</option>
                                        <option selected>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select">
                                        <option selected>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="add_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Client</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="hidden" name="projectTaskId" value="@Model.Id" />
                        <div class="form-group">
                            <label>Client Name</label>
                            <input type="text" name="UserName" class="form-control" value="">
                        </div>


                        <div class="submit-section text-center">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>

@if (Model.Flag == true)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 2000
        })
    </script>
}
else if (Model.Flag == false)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: '@Model.Error',
            showConfirmButton: false,
            timer: 2000
        })
    </script>

}