@page
@model PMS.Pages.Conversations.MemberModel

@{
    ViewData["Title"] = "Edit";
}
<div class="main-content">
    <div>
       
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-body d-flex justify-content-between pt-0 pb-0">
                        <div class="search-form d-flex">
                            <input type="text" placeholder="Client Name" class="form-control">
                            <select class="form-control" id="inputState">
                                <option selected>Select Company Name</option>
                                <option>Company 1 </option>
                                <option>Company 2</option>
                            </select>
                            <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                        </div>
                        <div class="list-action">
                            <a class="list" href="#" onclick="liststyle()"><i class='bx bx-menu'></i></a>
                            <a href="#" class="list-board active" onclick="listboard()"><i class='bx bxs-dashboard'></i></a>
                            <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            @foreach (var user in Model.Users)
            {
                <div class="col-3 col-md-6 col-sm-12 mb-25">
                    <div class="box client" data-user-id="@user.Id">

                        <div class="dropdown">
                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                            </div>
                        </div>
                        <div class="box-body pt-5 pb-0">
                            <div class="img-box">
                                <img style="width: 100px; height: 100px;object-fit: cover" src="~/uploads/@user.ImageProfile" alt="">
                                <div class="pulse-css"></div>
                            </div>
                            <a href="client-details.html"><h5 class="mt-17">@user.UserName</h5></a>

                            <p class="fs-14 font-w400 font-main">Founder at <span class="text-clo-primary font-w500 pl-4">Company Name</span></p>
                            <ul class="info">
                                <li class="fs-14"><i class='bx bxs-phone'></i>(589)505-4521</li>
                                <li class="fs-14"><i class='bx bxs-envelope'></i>@user.Email</li>
                            </ul>
                            <div class="group-btn d-flex justify-content-between">
                                <a class="bg-btn-pri color-white" href="message.html">Message</a>
                                <a class="bg-btn-sec color-main" href="user-profile.html">View Profile</a>
                            </div>
                        </div>

                    </div>
                </div>
            }
           
           
        </div>

        <div id="add_project" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <input class="form-control" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Client</label>
                                        <select class="select">
                                            <option>Client 1</option>
                                            <option>Client 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <div class="cal-icon">
                                            <input class="form-control " type="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <div class="cal-icon">
                                            <input class="form-control " type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Rate</label>
                                        <input placeholder="$50" class="form-control" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <select class="select">
                                            <option>Hourly</option>
                                            <option selected>Fixed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <select class="select">
                                            <option selected>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Upload Files</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_client" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Member</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <label>Enter Member Email</label>
                                <input type="text" class="form-control" name="email">
                            </div>

                            <input hidden value="@Model.Conversation.Id" name="conversationId" />
                           
                            
                            <div class="submit-section text-center">
                                <button type="submit" class="btn btn-primary submit-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal custom-modal fade" id="delete_client" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Client</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                </div>
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit_client" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Client</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Client Name</label>
                                <input type="text" class="form-control" value="Tom Schneider">
                            </div>
                            <div class="form-group">
                                <label>Client Company</label>
                                <select class="form-control select">
                                    <option>Company Name</option>
                                    <option>Company Name</option>
                                    <option>Company Name</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Client Phone</label>
                                <input type="text" class="form-control" value="(589)505-4521">
                            </div>
                            <div class="form-group">
                                <label>Client Email</label>
                                <input type="text" class="form-control" value="tom.name@mail.com">
                            </div>
                            <div class="form-group">
                                <label>Upload Files</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="submit-section text-center">
                                <button class="btn btn-primary submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>

   @if (TempData["Error"] != null && TempData["Error"] != "")
   {
        <script>
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: '@TempData["Error"]',
                    showConfirmButton: false,
                    timer: 2000
                })
        </script>
   }
   else if(TempData["Error"] == ""){
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Add member successfully',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
   }
           
      

        
    

</div>
@section Scripts {
    <script>

        $('.dropdown-item[data-target="#delete_client"]').click(function () {
            var userId = $(this).closest('.box.client').data('user-id');
            $('.continue-btn').data('user-id', userId);
        });
        $('.continue-btn').click(function () {
            var userId = $(this).data('user-id');
            var conversationId = '@Model.Conversation.Id';
            window.location.href = `/Conversations/Member?handler=DeleteMember&userId=${userId}&conversationId=${conversationId}`
            // perform delete action using the userId
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
