@page
@using WebApplication1.Data.Entities.ProjectAggregate;
@using WebApplication1.Models;
@model PMS.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!-- MAIN CONTENT -->


<div class="main-content">

    <div class="row">
        <div class="col-12">
            <div class="box project">
                <div class="box-header">
                    <h4 class="box-title"> @Model.Project.Name</h4>
                    <div class="box-right d-flex">
                        <a class="btn" href="project-details.html">Project Details</a>
                        <div class="icon-ratting">
                            <span> @Model.Project.Tag.TagName </span>
                        </div>
                        <div class="dropdown ml-14">
                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-dots-vertical-rounded fs-22'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" onclick="myFunction()"> Delete</a>
                                <a class="create d-flex" href="#" data-toggle="modal" data-target="#add_project">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="box-body d-flex justify-content-between pb-0">
                    <div class="team-name">
                        <a href="#" class="team">
                            <div class="icon"><i class="fas fa-tags"></i></div>
                            <h5>@Html.DisplayFor(model => model.Project.Email)</h5>

                        </a>
                    </div>
                    <div class="action">
                        <a href="#" class="comment">32 Comments</a>
                        <a href="../projecttasks?id=@Model.Project.Id" class="edit">List Task</a>
                        <a href="../projectUser?projectId=@Model.Project.Id" class="invite"><i class="fas fa-user-plus mr-5"></i>Invite People</a>
                        @*<a href="#" class="add">New<i class="fas fa-caret-down pl-12"></i></a>*@
                        <a href="/ProjectUploadedFiles/Index?id=@Model.Project.Id">Files Attachments</a>

                    </div>

                    <div class="divider"></div>
                    <div class="row" style="width:100%">
                        <div class="col-12">
                            <div class="box-body content" style="width: 100%">
                                <h4 class="title">Project Description</h4>
                                <p class="fs-18 font-w400 font-main mt-27 mb-29">
                                    @Html.DisplayFor(model => model.Project.Description)
                                </p>

                                <div class="row">
                                    <div class="col-12" style="width: 100%">

                                        <div class="form-chat" style="width: 100%">
                                            <form id="comment_to_project" action="/Projects/CreateComment" method="post" accept-charset="utf-8">
                                                <input type="hidden" name="comment.ProjectId" value="@Model.Project.Id" />
                                                <input type="hidden" name="comment.Level" value="0" />
                                                <input type="hidden" name="comment.NumberOfLike" value="0" />


                                                <div class="message-form-chat">
                                                    <!-- /.pin -->
                                                    <span class="message-text">
                                                        <textarea placeholder="Type comment here" required="required" name="comment.Content"></textarea>
                                                    </span>


                                                    <span class="btn-send">
                                                        <button id="send_comment" class="waves-effect" type="submit">Send <i class="fas fa-paper-plane"></i></button>
                                                    </span>
                                                    <!-- /.btn-send -->

                                                </div>
                                                <!-- /.message-form-chat -->
                                                <div class="clearfix"></div>
                                            </form>
                                            <!-- /form -->
                                        </div>
                                    </div>
                                </div>

                                <div class="project-description mt-10">
                                    <h4>Project Description</h4>
                                    <div id="comment-box" class="comment-box">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_project" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <input type="hidden" name="Id" value="@Model.Project.Id" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <input class="form-control" name="Name" type="text" value="@Model.Project.Name">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Start Date @Model.Project.StartDate</label>
                                        <div class="cal-icon">
                                            <input name"="StartDate" type="date" value="@Model.Project.StartDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>End Date @Model.Project.EndDate</label>
                                        <div class="cal-icon">
                                            <input name="EndDate" type="date" value="@Model.Project.EndDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Tag</label>
                                        <select class="select" name="TagId">
                                            @foreach (var item in Model.Tags)
                                            {
                                                if (Model.Project.Tag.Id == item.Id)
                                                {
                                                    <option selected value="@item.Id">@item.TagName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.TagName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="4" name="Description" class="form-control" placeholder="Enter your message here">@Model.Project.Description</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <input type="submit" value="SAVE" class="btn btn-primary" asp-page-handler="Edit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form id="myFormDelete" method="post" asp-page-handler="Delete">
            <input type="hidden" name="projectId" value="@Model.Project.Id" />
        </form>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <script>
        function myFunction() {
            console.log("a");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log("b");
                if (result.isConfirmed) {
                    console.log("b");
                    fetch('/Projects/Details?handler=Delete', {
                        method: 'POST',
                        body: new FormData(document.querySelector('#myFormDelete'))
                    }).then(function (response) {
                        if (response.ok) {
                            // redirect to a different page if the form submission was successful
                            window.location.href = '/Projects'
                        } else {
                            // handle any errors that occurred during the form submission
                            console.error('Form submission failed:', response);
                        }
                    }).catch(function (error) {
                        // handle any network or server errors that occurred during the form submission
                        console.error('Form submission failed:', error);
                    });
                }
            })
        }
    </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/project/comment/site.js" type="text/javascript"></script>

    <script>
        setId(@Model.Project.Id);
        setAuthor("@Model.Email");
    </script>
    }
<!-- END MAIN CONTENT -->
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
    </div>*@
