@page
@using PMS.Data.Entities;
@model PMS.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";

    int[] tag = ViewData["tags"] as int[];
    bool? mine = ViewData["mine"] as bool?;
    string search = ViewData["search"] as string;
}


<div class="main-content project">
    <div class="row" style="box-sizing:border-box">
        <div class="box-header pt-0 pl-0 ms-0 mb-1 mt-1 border-bottom-0 responsive-header">
            <h4 class="box-title fs-22">Recent Project Update</h4>
            <div class="card-options">
                <div class="btn-list d-flex">
                    <a href="#" class="btn text-primary border-primary d-flex align-items-center mr-5"><i class='bx bx-plus-circle mr-5'></i>Add Project</a>
                    <a href="#" class="btn btn-light d-flex align-items-center mr-5"><i class="fas fa-eye mr-5"></i>View All</a>
                </div>
            </div>

        </div>
        <div class="row">

            <form method="post">
                <div class="col-12">
                    <div class="box">
                        <div class="box-body d-flex pt-0 pb-0 row">
                            <div class="col-12 search-form d-flex justify-content-between align-items-center">
                                @if(search != null){
                                <input type="text" name="search" value="@search" placeholder="Client Name" class="form-control">
                                }
                                else
                                {
                                <input type="text" name="search"  placeholder="Client Name" class="form-control">
                                }
                                <select class="form-control" name="Mine" id="inputState">
                                    <option value="false">All</option>
                                    @if (mine == true)
                                    {
                                        <option value="true" selected>Mine</option>
                                    }

                                    else
                                    {
                                        <option value="true">Mine</option>
                                    }
                                </select>
                                <a href="#" class="btn btn-light me-0 dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false"> Tag<i style="margin-left : 10px" class='bx bxs-dashboard'></i> </a>
                                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                                    @foreach (var item in Model.Tags)
                                    {
                                        bool flag = false;
                                        if (tag.Length > 0)
                                        {
                                            @foreach (var std in tag)
                                            {
                                                if (std == item.Id)
                                                {
                                                    flag = true;
                                                    continue;
                                                }
                                            }
                                        }
                                        if (flag)
                                        {
                                            <li class="d-flex align-items-center"><input style="margin-left:10px" checked type="checkbox" name="tags" value="@item.Id"> <span>@item.TagName</span></li>
                                        }
                                        else
                                        {
                                            <li class="d-flex align-items-center"><input style="margin-left:10px" type="checkbox" name="tags" value="@item.Id"> <span>@item.TagName</span></li>
                                        }

                                    }
                                </ul>
                                <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            @foreach (var item in Model.Project)
            {
                <div class="col-3 col-xl-6 col-md-6 col-sm-12">
                    <div class="box left-dot">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-12 mb-10">
                                    <div class="mt-0 text-start">
                                        <a asp-page="./Details" asp-route-id="@item.Id" class="box-title mb-0 mt-1 mb-3 font-w600 fs-18">@Html.DisplayFor(modelItem => item.Name)</a>
                                        <p class="fs-14 font-w500 text-muted mb-6">@item.Email</p>

                                        <span class="fs-13  mt-2 text-muted">@item.Description</span>
                                    </div>
                                    <div class="img-box">
                                        <div class="task-btn bg-success-1 text-success-1 fs-14" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Project Priority">@item.Tag.TagName</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <div class="box-footer">
                    <div class="d-flex align-items-center">
                    <div class="d-flex mb-3 mb-md-0">
                    <div class="mr-10">
                    <div class="chart-circle chart-circle-xs" data-value="0.75" data-thickness="3" data-color="#3C21F7">
                    <canvas width="40" height="40"></canvas>
                    <div class="chart-circle-value">Create Date</div>
                    </div>
                    </div>

                    </div>
                    <div class="ms-auto mt-3 mt-sm-0">
                    <div class="d-flex">
                    <p class="fs-14 font-w500 text-muted mb-6">@item.StartDate</p>
                    </div>
                    </div>

                    </div>
                    </div>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-sm-7">
  @*  <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
        <ul id="paginationUL"></ul>
    </div>*@
</div>
<paging class="pagination" total-records="@Model.paginationParams.Total" show-total-pages="false" show-total-records="false" page-size="@Model.paginationParams.PageSize" page-no="@Model.paginationParams.PageNumber"></paging>
<script src="~/js/project/site.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
